/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.flex {
  display: flex;
}
.sp-bt {
  display: flex;
  justify-content: space-between;
}
.flex a:hover {
  color: green;
}
.head {
  background-color: #0c2d5c;
  padding: 8px;
}
.color {
  color: white;
}
.para-sm {
  font-size: 8px;
}
.padding {
  padding: 20px 20px;
}
.width {
  margin: 0 auto;
  width: 80%;
}
.shift {
  margin-top: 60px;
}
.flex a {
  text-decoration: none;
  color: #557391;
  font-size: 11px;
  margin: 0 5px;
}
.btn {
  background-color: #e56169;
  color: white;
  border: none;
  margin: 0 10px;
}
.buson {
  color: #e56169;
  font-size: 8px;
}
.help {
  font-size: 35px;
  color: #0c2d5c;
  margin-top: 10px;
  line-height: 1.1;
}
.btn1 {
  background-color: #e56169;
  color: white;
  border: none;
  margin-top: 10px;
  padding: 5px;
}
.top-m {
  margin-top: 100px;
  margin-left: 60px;
}
.back-color {
  background-color: #f6f9fe;
  height: 400px;
  padding: 14px 13px;
}
.percent {
  width: 35%;
}
.head-buisn-color {
  color: #474a5e;
  font-size: 20px;
  margin-top: 20px;
}
.para {
  color: #949fab;
  margin-top: 10px;
  text-align: justify;
  font-size: 10px;
}
.upper {
  margin-top: 99px;
  margin-left: 20px;
}
.border {
  border: 2px solid crimson;
  width: 99px;
  padding: 40px;
  height: 194px;
}
.net {
  color: #1c2036;
  font-size: 20px;
}
.line {
  height: 2px;
  width: 30px;
  background-color: crimson;
  margin-top: 20px;
}
.rel-ab {
  margin: 100px 193px;
}
.white-box {
  border: 1px solid white;
  height: 300px;
  width: 200px;
  background-color: white;
  opacity: 0.7;
  position: absolute;
  top: 100px;
  left: 443px;
  padding: 20px;
}
.white-box h2 {
  font-size: 20px;
  color: #191d34;
}
.para-client {
  color: #97a1ab;
  font-size: 12px;
  margin-top: 20px;
}
.absol {
  position: relative;
}
.service {
  color: #191d34;
  font-size: 28px;
  text-align: center;
  margin-top: 40px;
}
.strategy {
  color: #777a88;
}
.service-box {
  background-color: #fcfdff;
  width: 17%;
  text-align: center;
  padding: 0 60px;
}
.mt {
  padding: 60px 0;
}
.service-btn {
  color: #efafb3;
  border: 1px solid #efafb3;
  background-color: white;
}
.service-sp {
  text-align: center;
}
.case-box {
  background-color: #f8fafe;
  padding: 60px 0;
}
.cases h2 {
  color: #172679;
  font-size: 20px;
}
.sp-pad {
  padding: 100px;
  width: 40%;
}
.service-btn-case {
  margin-top: 30px;
}
.mar-img {
  padding: 40px;
  margin-right: 40px;
}
.span {
  color: #97a1ab;
  font-size: 8px;
}
.case-box-padd {
  padding: 100px 0;
}
.case-width {
  margin: 0 auto;
  width: 35%;
}
.img-center {
  text-align: center;
  margin: 10px;
}
.recent {
  color: #172679;
  font-size: 22px;
  text-align: center;
}
.recent-p {
  color: #efafb3;
  font-size: 10px;
  margin-top: 10px;
}
.recent-h {
  color: #172679;
  font-size: 18px;
  margin-top: 10px;
}
.recent-padd1 {
  padding: 50px 0;
}
.p-color {
  color: #d3dbe3;
  font-size: 8px;
  margin-top: 5px;
}
.recent-padd {
  margin: 0 auto;
  width: 70%;
  padding: 100px 40px;
  margin-left: 224px;
}
.contact {
  background-color: #0c2d5c;
  padding: 80px 0;
}
.contact-width {
  margin: 0 auto;
  width: 70%;
}
.contact-width1 {
  width: 30%;
}
.contact-width {
  color: white;
  font-size: 26px;
}
.new {
  color: white;
  font-size: 12px;
  margin-top: 20px;
}
.footer-para {
  font-size: 10px;
  color: #7f8796;
  margin-top: 20px;
}
.name-box {
  color: #adbbc9;
  border: 1px solid white;
  font-size: 12px;
  width: 200px;
  padding: 5px;
  margin-left: 15px;
}
.service-box1 {
  color: #adbbc9;
  border: 1px solid white;
  font-size: 12px;
  width: 300px;
  padding: 5px;
  margin-left: 15px;
}
.send-btn {
  color: white;
  background-color: #e56169;
  padding: 5px 38px;
  margin-left: 15px;
}
.narrow {
  margin-top: 10px;
}
.last-sect {
  background-color: #f8fafe;
  padding: 100px 0;
}
.social a {
  color: #333;
  font-size: 8px;
}
.con-color {
  color: #2c517a;
  font-size: 16px;
}
.base-para-shift {
  color: #c9ccd4;
  font-size: 10px;
  margin-top: 5px;
  margin-left: 15px;
}
.last-width {
  width: 40%;
}
.base-para {
  color: #c9ccd4;
  font-size: 10px;
  margin-top: 5px;
}
.social-link a {
  color: white;
}
